spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tec_blog_db
    username: tec_blog_db
    password: Abcdefgo611
    driver-class-name: org.postgresql.Driver
    hikari:
      pool-name: HikariCP
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  batch:
    jdbc:
      initialize-schema: ALWAYS
    job:
      enabled: true
    initialization:
      enabled: true
